{% extends 'musics/base.html' %}

{% block body %}
<h1>Music Events</h1>

<div class="container">
    <div class="row">
        
        <div class="col-md-4">
            {% for event in events %}
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'events:musics_show' event.id%}">
                    <img src="{{event.cover.url}}" class="card-img-top" />
                    </a>
                    <h3>{{event.title}}</h3>
                    <h4>{{event.events_date_time}}</h4>  
                </div>
            </div>
        
            {% empty %}

            <div class="alert alert-warning">
                No Events added yet
            </div>
            {% endfor %}
        
        </div>
        
    </div>
</div>

{% endblock body %}