{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-lg p-3">
                    <img src="{{event.cover.url}}" class="card-img-top" />
                    <h3>{{event.title}}</h3>
                    <h4>Schedule: {{event.events_date_time}}</h4>
                    <h4>Avenue: {{event.location}}</h4>
                    
                    <h5>Description:</h5>
                    <p>{{event.description}}</p>
                    {% if request.user.is_superuser %}
                    <div class="d-grid gap-2 ">
                        <a class="btn btn-primary" role="button" href="{% url "events:musics_show" event.id %}?action=edit">Edit</a>
                        <a class="btn btn-primary" role="button" href="{% url "events:musics_show" event.id %}?action=del">Delete</a>
                    </div>
                    {% endif %}
                </div> 
            </div>
            {% if edit %} 
            <div class="col-md-6">
                <form action="{% url 'events:musics_show' event.id %}?action=edit" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="submit">Edit Events</button>
                        <a class="btn btn-primary" role="button" href="{% url "events:musics_show" event.id %}">Cancel</a>
                    </div> 
                </form>
            </div>
            {% endif %}
            <div class="col">
                <div class="card shadow-lg p-3">
                    <h4 class="text-center fw-bold">Reviews</h4>
                        <div class="comments">
                            {% for r in event.reviews.all %}
                            <div class="card text-center shadow-lg p-3">
                                <div class="card-header">
                                    <h5 class="card-title">{{r.user.username}}</h5>
                                </div>
                                <div class="card-body">    
                                    <p class="card-text">{{r.review}}</p>       
                                </div>
                                <div class="card-footer text-muted">
                                    <small class="text-muted">Date posted: {{ event.created_at|date:"F d, Y" }}</small>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-floating">
                    <h4>Comments</h4>
                    <form action="{% url 'reviews:review_create' event.id %}" method="post">
                        {% csrf_token %}
                        {{review_form}}
                        <button class="btn btn-primary" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock body %}