{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="{{event.cover.url}}" class="card-img-top" />
                    <h3>{{event.title}}</h3>
                    <h4>Schedule: {{event.events_date_time}}</h4>
                    <h4>Avenue: {{event.location}}</h4>
                    <h4>Instruments:</h4>
                    {% for cat in event.categories.all %}
                    <li>{{cat.name}}</li>
                    {% endfor %}
                    <h5>Description:</h5>
                    <p>{{event.description}}</p>
                    {% if request.user.is_superuser %}
                    <div class="d-grid gap-2 ">
                        <a class="btn btn-outline-primary" role="button" href="{% url "events:musics_show" event.id %}?action=edit">Edit</a>
                        <a class="btn btn-outline-primary" role="button" href="{% url "events:musics_show" event.id %}?action=del">Delete</a>
                    </div>
                    {% endif %}
                </div> 
            </div>
            {% if edit %} 
            <div class="col-md-6">
                <form action="{% url 'events:musics_show' event.id %}?action=edit" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-outline-primary" type="submit">Edit Events</button>
                        <a class="btn btn-outline-primary" role="button" href="{% url "events:musics_show" event.id %}">Cancel</a>
                    </div> 
                </form>
            </div>
            {% endif %}
            <div class="col">
                <div class="card">
                    <h4>Comments</h4>
                        <div class="col-md-3">
                            <div class="overflow-auto">
                                {% for r in event.reviews.all %}
                                <div class="card-body">
                                    <h6>{{r.username}}</h6>
                                
                                    <p>{{r.review}}</p>
                                    
                                </div> 
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-floating">
                            <h4>Reviews</h4>
                            <form action="{% url 'reviews:review_create' event.id %}" method="post">
                                {% csrf_token %}
                                {{review_form}}
                                <button class="btn btn-outline-primary" type="submit">Send</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>



{% endblock body %}