[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
psycopg2-binary = "*"
markdown = "*"
django-filter = "*"
django-bootstrap-datepicker-plus = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
