{% extends 'musics/base.html' %}

{% block body %}
<h1>Music Events</h1>

<div class="container">
    <div class="row">
        {% for event in events %}
        <div class="col-md-4">
        <div class="card">
            <img src="{{event.cover.url}}" class="card-img-top" />
            <div class="card-body">
                <h3>{{event.title}}</h3>
                <h4>{{event.events_date_time}}</h4>
            </div>
        </div>
        
        {% empty %}

        <div class="alert alert-warning">
            No Events added yet
        </div>

        
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}