{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1 class="text-center">User Post</h1>
        <div class="row">
            <div class="col-md-4">
                <form class="user-post" action="{% url 'posts:post-create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    {{form}}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}