{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-lg p-3">
                    <img src="{{post.cover.url}}" class="card-img-top" />
                    <h3>{{post.title}}</h3>
                    <h4>Schedule: {{post.events_date_time}}</h4>
                    <h4>Avenue: {{post.location}}</h4>
                    <h4>Instruments:</h4>
                    {% for cat in post.categories.all %}
                    <li>{{cat.name}}</li>
                    {% endfor %}
                    <h5>Description:</h5>
                    <p>{{post.description}}</p>
                    
                    {% comment %} {% if post.user.profile %}  {% endcomment %}
                    <div class="d-grid gap-2 ">
                        {% if request.user.profile %}
                        <a class="btn btn-primary" role="button" href="{% url "posts:posts_show" post.id %}?action=edit">Edit</a>
                        {% endif %}
                        <a class="btn btn-primary" role="button" href="{% url "posts:posts_show" post.id %}?action=del">Delete</a>
                    </div> 
                    {% comment %} {% endif %}  {% endcomment %}
                </div> 
            </div>
            {% if edit %} 
            <div class="col-md-6">
                <form action="{% url 'posts:posts_show' post.id %}?action=edit" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="submit">Send</button>
                        <a class="btn btn-primary" role="button" href="{% url "posts:posts_show" post.id %}">Cancel</a>
                    </div> 
                </form>
            </div>
            {% endif %}
            <div class="col">
                <div class="card shadow-lg p-3">
                    <h4 class="text-center fw-bold">Reviews</h4>
                        <div class="comments">
                            {% for p in post.comments.all %}
                            <div class="card text-center shadow-lg p-3">
                                <div class="card-header">
                                    <h5 class="card-title">{{p.user.username}}</h5>
                                </div>
                                <div class="card-body">    
                                    <p class="card-text">{{p.comment}}</p>       
                                </div>
                                <div class="card-footer text-muted">
                                    <small class="text-muted">Date posted: {{ post.created_at|date:"F d, Y" }}</small>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-floating">
                    <h4>Comments</h4>
                    <form action="{% url 'posts:comment_create' post.id %}" method="post">
                        {% csrf_token %}
                        {{comment_form}}
                        <button class="btn btn-primary" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock body %}
